GEMINI_API_KEY=votre_cle_gemini_ici
SMTP_USER=votre_email@gmail.com
SMTP_PASS=votre_mot_de_passe_application_google


EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=ton-email@gmail.com
EMAIL_PASS=ton-mot-de-passe-d-application
EMAIL_TO=destinataire-cgp@email.com